$sansserif: "Montserrat",sans-serif;
$serif: "Merriweather", serif;
$monospace: "Source Code Pro", monospace;

/* Site layout items not specific to Drud Technology styles */

body {
    min-height: 75rem;
}

body .bodypadding {
    padding-top: 3.75rem;
}

.offset-top {
    padding-top: 3.75rem;
}

h1,
.h1 {
    font-family: $serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.3;
}

h2,
.h2 {
    font-family: $serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.3;
}

h3,
.h3 {
    font-family: $serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.3;
}

h4,
.h4 {
    font-family: $serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3;
}

h5,
.h5 {
    font-family: $serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.3;
}

h6,
.h6 {
    font-family: $sansserif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.3;
}

p {
    max-width: 66ch;
}
.maxwidth {
    max-width: 66ch;
}
.serif-lead {
    font-family: $serif;
    font-size: 1.25rem;
    line-height: 1.7em;
    font-weight: 300;
}

.sansserif-lead {
    font-family: $sansserif;
    font-size: 1.25rem;
    line-height: 1.7em;
    font-weight: 300;
}

.sansserif-thin {
    font-family: $sansserif;
    font-weight: 100;
}

.sansserif-thin-italic {
    font-family: $sansserif;
    font-weight: 100;
    font-style: italic;
}

.sansserif-extra-light {
    font-family: $sansserif;
    font-weight: 200;
}

.sansserif-extra-light-italic {
    font-family: $sansserif;
    font-weight: 200;
    font-style: italic;
}

.sansserif-light {
    font-family: $sansserif;
    font-weight: 300;
}

.sansserif-light-italic {
    font-family: $sansserif;
    font-weight: 300;
    font-style: italic;
}

.sansserif-regular {
    font-family: $sansserif;
    font-weight: 400;
}

.sansserif-regular-italic {
    font-family: $sansserif;
    font-weight: 400;
    font-style: italic;
}

.sansserif-medium {
    font-family: $sansserif;
    font-weight: 500;
}

.sansserif-medium-italic {
    font-family: $sansserif;
    font-weight: 500;
    font-style: italic;
}

.sansserif-semi-bold {
    font-family: $sansserif;
    font-weight: 600;
}

.sansserif-semi-bold-italic {
    font-family: $sansserif;
    font-weight: 600;
    font-style: italic;
}

.sansserif-bold {
    font-family: $sansserif;
    font-weight: 700;
}

.sansserif-bold-italic {
    font-family: $sansserif;
    font-weight: 700;
    font-style: italic;
}

.sansserif-extra-bold {
    font-family: $sansserif;
    font-weight: 800;
}

.sansserif-extra-bold-italic {
    font-family: $sansserif;
    font-weight: 800;
    font-style: italic;
}

.sansserif-black {
    font-family: $sansserif;
    font-weight: 900;
}

.sansserif-black-italic {
    font-family: $sansserif;
    font-weight: 900;
    font-style: italic;
}

.sansserif-huge {
    font-family: $sansserif;
    font-size: 8em;
}

.serif-huge {
    font-family: $serif;
    font-size: 8em;
}

.serif-light {
    font-family: $serif;
    font-weight: 300;
}

.serif-light-italic {
    font-family: $serif;
    font-weight: 300;
    font-style: italic;
}

.serif-regular {
    font-family: $serif;
    font-weight: 400;
}

.serif-regular-italic {
    font-family: $serif;
    font-weight: 400;
    font-style: italic;
}

.serif-bold {
    font-family: $serif;
    font-weight: 700;
}

.serif-bold-italic {
    font-family: $serif;
    font-weight: 700;
    font-style: italic;
}

.serif-black {
    font-family: $serif;
    font-weight: 900;
}

.serif-black-italic {
    font-family: $serif;
    font-weight: 900;
    font-style: italic;
}

.monospace-extra-light {
    font-family: $monospace;
    font-weight: 200;
}

.monospace-light {
    font-family: $monospace;
    font-weight: 300;
}

.monospace-regular {
    font-family: $monospace;
    font-weight: 400;
}

.monospace-medium {
    font-family: $monospace;
    font-weight: 500;
}

.monospace-semi-bold {
    font-family: $monospace;
    font-weight: 600;
}

.monospace-bold {
    font-family: $monospace;
    font-weight: 700;
}

.monospace-black {
    font-family: $monospace;
    font-weight: 900;
}

.monospace-huge {
    font-family: $monospace;
    font-size: 8em;
}